.CalenderItem {
    background-color: rgb(255, 255, 255);
    text-align: center;
    .colItem {
        border: 1px solid black;
        background-color: rgb(255, 255, 255);
        padding: 10px 5px;
    }
}
