.ant-checkbox-checked .ant-checkbox-input {
  background-color: #2dd044;
  border-color: #2dd044;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2dd044;
  border-color: #2dd044;
}
